.sidebarItem{
  padding: 1.6rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 1rem;

}

.sidebarItem:hover{
}

.sidebar{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
