
.tweeterLogo{
  width: 2rem;
  height: 2rem;
}

.signupCard{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

.signupCard form{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
}

.signupCard h4{
 font-size: 2rem;
 font-weight: 700;
}

.signupCard form>*{
 width: 100%;
}
